@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html{
    font-size: 14px;
}
body{
    font-family: 'Noto Sans',sans-serif;
}
a{
    text-decoration: none;
}







.carousel-item img{
    object-fit: cover;
    object-position: top;
    height: 70vh;
    overflow: hidden;
    /* height: 500px;
    width: 500px; */
}

.old_price{
    font-weight: bold;
    color:red;

}
.new_price{
    font-weight: bold;
    background-color:green;
    color: white;

    
}