{% extends 'Quest_app/layouts/main.html' %}

{% block title %}
    <title>User Account Details</title>
{% endblock title %}

{% block content %}
<div class="container" style="margin-top:70px;">
    <div class="row">
    <div class="col-12"><h1>Saved Cards & Wallets</h1></div>
    <hr style="border-color:#b8bfc2">
    {% comment %} <P>Your Account details well secure with us...</P> {% endcomment %}
    {% comment %} <P>Add your credit/Debit card details</P> {% endcomment %}
    {% include 'Quest_app/include/message.html' %}
    
   
    </div>
    <section class="py-4 my-5">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">Card Number</th>
                <th scope="col">Expiry details</th>
                <th scope="col">Cardholder Name</th>
                <th scope="col">Modify</th>
                <th scope="col">Trash</th>
                
              </tr>
            </thead>
            {%for i in pre_card_details%}
            <tbody>
              <tr>
                <th scope="row">{{i.S_No}}</th>
                <td>{{i.Card_Number}}</td>
                <td>{{i.Expiry_details}}</td>
                <td>{{i.Cardholder_Name}}</td>
                <td> <a class="btn btn-primary" aria-current="page" href="/update_record/{{i.id}}"> Update</a> </td>
                <td><a class="btn btn-danger" aria-current="page" href="/delete_record/{{i.id}} "> Delete</a></td>
              </tr>
            </tbody>
            {%endfor%}
          </table>
         
          <hr style="border-color:#b8bfc2">
          <a class="btn btn-primary" aria-current="page" href="{% url 'card_details'%}"> ADD NEW CARD </a>
    </section>
    
</div>

{% endblock content %}